/* Drafting Phase */

@import url('https://fonts.googleapis.com/css?family=Prompt');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
	color: #3a3a3a;
	font-family: 'Orbitron', sans-serif;
}

h1, h2 {
	font-family: 'Prompt', sans-serif;
}

#cards {
	display: flex;
	justify-content: space-around;
}

#cards div {
	border: 1px solid black;
	cursor: pointer;
	cursor: hand;
	padding: 1em;
}

/* Battle Phase */

.my-dashboard, .enemy-dashboard {
	display: flex;
	justify-content: space-around;
}

.robot, .enemy {
	padding: 1em;
}

.attack-order {
	position: fixed;
	top: 0;
	right: 0;
}

.attacking {
	color: dodgerblue;
}

.attack-option {
	border: 1px solid green;
	cursor: pointer;
	cursor: hand;
}

.legal-target {
	color: red;
}

div .damage-dealt {
	color: tomato;
}

div .amount-healed {
	color: green;
}