/* Drafting Phase */

@import url('https://fonts.googleapis.com/css?family=Prompt');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

html, body {
	margin: 0;
	padding: 0;
}

body {
	color: #3a3a3a;
	display: flex;
	font-family: 'Orbitron', sans-serif;
}

h1, h2 {
	font-family: 'Prompt', sans-serif;
	text-align: center;
}

#cards {
	display: flex;
	justify-content: space-around;
}

#cards div {
	border: 1px solid black;
	cursor: pointer;
	cursor: hand;
	padding: 1em;
	text-align: center;
	width: 15%;
}

.board {
	width: 100%;
}

.fighting .board {
	display: inline-block;
	flex: 4;
	width: 80%;
}

/* Battle Phase */

.my-dashboard, .enemy-dashboard {
	display: flex;
	justify-content: space-around;
}

.robot, .enemy {
	padding: 1em;
}

.attack-order {
	display: none;
}

.fighting .attack-order {
	background-color: #cdcdcd;
	display: inline-block;
	flex: 1;
	padding-right: 15px;
	text-align: right;
	width: 19%;
}

.attacking {
	color: dodgerblue;
}

.attack-option {
	border: 1px solid green;
	cursor: pointer;
	cursor: hand;
}

.legal-target {
	color: red;
}

.legal-friendly-target {
	color: dodgerblue;
}

div .damage-dealt {
	color: tomato;
}

div .amount-healed {
	color: green;
}

div .change-special {
	color: violet;
}