/* Drafting Phase */

#cards {
	display: flex;
	justify-content: space-around;
}

#cards div {
	border: 1px solid black;
	cursor: pointer;
	cursor: hand;
	padding: 1em;
}

/* Battle Phase */

.my-dashboard, .enemy-dashboard {
	display: flex;
	justify-content: space-around;
}

.robot, .enemy {
	padding: 1em;
}

.attacking {
	color: dodgerblue;
}

.attack-option {
	border: 1px solid tomato;
	cursor: pointer;
	cursor: hand;
}

.legal-target {
	color: red;
}