<!DOCTYPE html>
<html>

<head>
	<title>Draft Poker</title>
	<link rel="stylesheet" type="text/css" href="/css/godrone.css">
</head>

<body>
<div class="available-games">
	<div class="two-person-games">
		<h2>Two-Person Games</h2>
		<ul id="two-person-game-list">
			
		</ul>
		<div id="new-two-person-game">Start New Game</div>
	</div>
	<div class="four-person-games">
	
	</div>
	<div class="six-person-games">
	
	</div>
</div>
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
$(document).ready(function(){
	var socket = io();
	$("#new-two-person-game").on("click", function(){
		socket.emit("draftPokerTwoPerson");
	});
}); 
</script>