<!DOCTYPE html>
<html>

<head>
	<title>Draft Poker</title>
	<link rel="stylesheet" type="text/css" href="/css/godrone.css">
</head>

<body>
<div class="available-games">
	<div class="two-person-games">
		<h2>Two-Person Games</h2>
		<ul id="two-person-game-list">
			
		</ul>
		<div id="new-two-person-game">Start New Game</div>
	</div>
	<div class="four-person-games">
	
	</div>
	<div class="six-person-games">
	
	</div>
</div>
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
$(document).ready(function(){
	var socket = io.connect("/draft-poker");
	$("#new-two-person-game").on("click", function(){
		socket.emit("draftPokerTwoPerson");
	});
	socket.on("listOpenTwoPlayerGames", function(games){
		// clear list
		$("#two-person-game-list").empty();
		
		for (var i = 0; i < games.length; i++) {
			var game = games[i];
			var gameListHtml = '<li id="' + game._id + '">Join Game ' + game._id.substring(game._id.length - 4) + '</li>';
			$("#two-person-game-list").append(gameListHtml).find("#" + game._id).on("click", function(){
				console.log("clicked on " + game._id);
			});
		}
	});
}); 
</script>