<!DOCTYPE html>
<html>

<head>
	<title>GoDrone!</title>
	<link rel="stylesheet" type="text/css" href="/css/godrone.css">
</head>

<body>
<div class="board">
	<div class="enemy-dashboard">
		
	</div>
	<div class="battlefield">
		<h1 id="title"></h1>
		<div id="cards"></div>
	</div>
	<div class="my-dashboard">

	</div>
</div>
</body>

</html>
<script src="/js/prototypes/godrone/bundle.js"></script>