<!DOCTYPE html>
<html>

<head>
	<title>Static page</title>
</head>

<body>
<div class="opponent-dashboard">
	<a href="/robot-royale">Robot Royale</a>
	<a href="/godrone">GoDrone!</a>
	<a href="/draft-poker-lobby">Draft Poker</a>
</div>
<div class="battlefield">

</div>
<div class="my-dashboard">

</div>
</body>

</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
  var socket = io();
</script>