<!DOCTYPE html>
<html>

<head>
	<title>Static page</title>
</head>

<body>
<div class="opponent-dashboard">
	
</div>
<div class="battlefield">
	<h1>How many robots do you want on your team?</h1>
	<div id="picks">
		<div id="choice-1">1</div>
		<div id="choice-2">2</div>
		<div id="choice-3">3</div>
		<div id="choice-4"></div>
		<div id="choice-5"></div>
		<div id="choice-6"></div>
		<div id="choice-7"></div>
		<div id="choice-8"></div>
		<div id="choice-9"></div>
		<div id="choice-10"></div>
	</div>
</div>
<div class="my-dashboard">

</div>
</body>

</html>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>
<script src="/js/games/robot-royale-data.js"></script>
<script src="/js/games/robot-royale.js"></script>