<!DOCTYPE html>
<html>

<head>
	<title>Static page</title>
	<link rel="stylesheet" type="text/css" href="/css/robot-royale.css">
</head>

<body>
<div class="enemy-dashboard">
	
</div>
<div class="battlefield">
	<h1 id="title"></h1>
	<div id="cards">
		<div id="1"></div>
		<div id="2"></div>
		<div id="3"></div>
		<div id="4"></div>
		<div id="5"></div>
		<div id="6"></div>
		<div id="7"></div>
		<div id="8"></div>
		<div id="9"></div>
		<div id="10"></div>
	</div>
</div>
<div class="my-dashboard">

</div>
<div class="attack-order">

</div>
</body>

</html>
<script src="/js/games/robot-royale-bundle.js"></script>