<!DOCTYPE html>
<html>

<head>
	<title>Robot Royale</title>
	<link rel="stylesheet" type="text/css" href="/css/robot-royale.css">
</head>

<body>
<div class="board">
	<div class="enemy-dashboard">
		
	</div>
	<div class="battlefield">
		<h1 id="title"></h1>
		<div id="cards"></div>
	</div>
	<div class="my-dashboard">

	</div>
</div>
<div class="attack-order">
	<h3>Attack Order</h3>
</div>
</body>

</html>
<script src="/js/games/robot-royale/robot-royale-bundle.js"></script>