<!DOCTYPE html>
<html>

<head>
	<title>Squad Command</title>
	<link rel="stylesheet" type="text/css" href="/css/godrone.css">
</head>

<body>
	<h1>Squad Command</h1>
	<button id="quick-match">Play Quick Match</button>
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="/js/games/squad-command/bundle.js"></script>