<!DOCTYPE html>
<html>

<head>
	<title>Static page</title>
</head>

<body>
<header>
	
<header>
<div class="">
	
</div>
</body>

</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
  var socket = io();
</script>